[Desktop Entry]
Encoding=UTF-8
Name=GNazar
Name[tr_TR]=GNazar
Name[de]=GNazar
Name[pt_BR]=GNazar
Name[nl]=GNazar
Name[sv]=GNazar
Exec=gnazar
Icon=gnazar
Type=Application
StartupNotify=false
Categories=Application;Utility;
GenericName=Protects from harmfull looks!
GenericName[tr]=Kem gözlerden korur!
GenericName[de]=Schützt vor bösen blicken!
GenericName[pt_BR]=Protege contra mal olhados!
GenericName[nl]=Beschermt tegen kwade blikken!
GenericName[sv]=Skyddar mot onda ögat!
